* {box-sizing: border-box; }
body {font-family: Georgia, serif;}

.chat-container {
  width: 300px;
  height: 400px;
  padding: 8px;
  background-color: rgb(201, 125, 243);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5%;
  
}

.btnsubmit{
   background-color: #04AA6D;
   top: 2px;
   right: -120px;
   height: 10;
}

.btnsubmit:hover{
  opacity: .8;
}

.btnyes:hover{
  opacity: .8;
}

.btnno:hover{
  opacity: .8;
}


.btnyes{
   background-color: #04AA6D;
   top: 2px;
   right: -120px;
   height: 10;
}
.btnno{
   background-color: #ff4c4c;
   top: 2px;
   right: -120px;
   height: 10;
}

#singleLineInput{
  position: relative;
  top:5px;
}

.btn{
  position: relative;
  border: none;
  color: rgb(0, 0, 0);

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;

}

.btn:hover{
  opacity: .8;  

}

.chat-container .header{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
}


#mychat { /*make the chat hidden first. */
    display: none;
}

#chatarea {
  background-color: bisque;
  height: 87%;
  width: 100%;
  overflow: auto; /* Adds scrollbars only when needed */
}

.msgcontainerbot {
  
  position: relative;  
  top: 5px;
  left: 50px;
  right: 10px;
  
  width: 80%;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding-left: 20px;
  margin: 10px 0;
  border-radius: 20px;
}



/* Style images */
.msgcontainerbot img {
  float: left;
  left: -50px;
  position: absolute;
  top: 5px;
  max-width: 45px;
  width: 80%;
  
  border-radius: 50%;
}

.msgcontaineruser {
  
  position: relative;  
  top: 5px;
  left: 10px;
  right: 50px;
  
  width: 80%;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding-left: 20px;
  margin: 10px 0px;
  border-radius: 10px;
}

.msgcontaineruser img {
  background-color: white;
  float: right;
  right: -45px;
  position: absolute;
  top: 5px;
  max-width: 40px;
  width: 80%;

  border-radius: 50%;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#close{
    position: absolute;
    top: 10px;
    padding: 4px;
    right: 10px;
    background-color: red;
    border-radius: 5%;
}

.chaticonbubble {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.image-button {
  height: 100px;
  width: 100px;
  object-fit: contain;
  background-image: url('../imgs/chaticonfromfigma.png');
  background-size: cover;
  border: 0;
 
}

