* {box-sizing: border-box;}
/*example, affects h1 */
h1 {
    color: rgb(0, 0, 0)
    
}

.chat-container {
  width: 300px;
  height: 400px;
  padding: 8px;
  background-color: rgb(201, 125, 243);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5%;
}
.msgcontainerbot {
  position: relative;  
  top: 5px;
  left: 50px;
  width: 80%;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-left: auto;
  padding-left: 20px;
  margin: 10px 0;
  border-radius: 20px;
}
.chat-container .header{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
}


#mychat { /*make the chat hidden first. */
    display: none;
}

#chatarea {
    background-color: bisque;
    height: 87%;
    width: 100%;

}

#close{
    position: absolute;
    top: 10px;
    padding: 4px;
    right: 10px;
    background-color: red;
    border-radius: 5%;
}



.chaticonbubble {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.image-button {
  height: 100px;
  width: 100px;
  object-fit: contain;
  background-image: url('/imgs/chaticonfromfigma.png');
  background-size: cover;
  border: 0;
 
}
